.overlay{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
}
@media screen and (max-width: 768px) {
    .header {
        background-color: var(--background);
        border: 1px solid var(--muted);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        padding: 1.5rem;
    }

    .header .titleArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .titleArea h2 {
        font-weight: var(--weight-bd);
    }


    .titleArea p {
        font-weight: var(--weight-lg);
        margin-bottom: 10px;
    }

    .header .btn {
        height: 40px;
    }
}

@media screen and (min-width: 769px) {
    .header {
        background-color: var(--background);
        border: 1px solid var(--muted);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        padding: 0 1.5rem;
    }

    .header .titleArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}
